<section class="d-flex align-items-end">
  <div class="container mb-4">
    <h1>OUR LATEST MOVIES</h1>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let movie of trendingMovies">
        <ng-template carouselSlide [id]="movie.id">
          <a class="movie-container text-decoration-none" [routerLink]='["/movieDetails", "movie" ,movie.id]'>
            <img class="w-100" [src]="imgPrefix+movie.poster_path" alt="">
          </a>
        </ng-template>
      </ng-container>

    </owl-carousel-o>


  </div>
</section>