.movie-image {
    position: relative;
    overflow: hidden;
}

.movie-image .vote {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 2;
}

.movie-image:hover .movie-overlay {
    top: 0;
}

.movie-title {
    font-size: 1.1rem;
    margin: 15px 0;
}

//   ngb-pagination ::ng-deep a {
//     color: black !important;
//   }

//   ngb-pagination ::ng-deep .page-item.active .page-link {
//     border-color: black;
//     background-color: lightgrey;
//   }

//   ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
//     box-shadow: 0 0 0 0.1rem dimgrey;
//   }

//   ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
//     box-shadow: 0 0 0 0.1rem dimgrey;
//   }





ngb-pagination ::ng-deep li {
   
    font-weight: bold;
    &:first-child a {
        span {
            display: none;
        }
        &:before {
            /* provide your content here */
            content: "";
        }
    }

}



