<app-loadingspinner [showSpinner]="isLoading"></app-loadingspinner>


<div class="container my-3">
    <div class="row" id="page-content">
        <div *ngFor="let tv of popularTVShowsList" class="col-md-3 my-2" [style]="tv.poster_path == null ? 'display:none' : 'display:block'">
            <div class="media-item">

                <a class="media-container text-decoration-none" [routerLink]='["/mediaDetails", "tv" ,tv.id]'>
                    <div class="media-image">
                        <img class="w-100 rounded" [src]="imgPrefix+tv.poster_path" alt="">

                        <span class="vote lightBgColor">{{tv.vote_average}}</span>

                        <div class="media-overlay">
                            <button class="btn btn-info">See more</button>
                        </div>
                    </div>


                    <h3 class="media-title">{{tv.name}}</h3>

                </a>

            </div>
        </div>
    </div>

    <ngb-pagination class="pagination-container d-flex justify-content-center" (pageChange)="goToPage($event)"
        [(page)]="currentPageNumber" [maxSize]="5" [rotate]="true" [collectionSize]="5000">

        <ng-template ngbPaginationPrevious><i class="fa fa-chevron-left"></i></ng-template>
        <ng-template ngbPaginationNext><i class="fa fa-chevron-right"></i></ng-template>
    </ngb-pagination>